<a href="https://colab.research.google.com/github/SWeat-python-weekend-study/tutor_code/blob/lesson2-1/1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**7. 람다(lambda) 함수**
- 익명함수(Anonymous Function)
- 함수 정의를 한 줄로 생략하는 방식

In [ ]:
A =lambda x : x*2
A(5) #10 값

def lamb(x):
  return x*2

In [ ]:
F = lambda n : F(n-1) + F(n-2) if n > 2 else 1
R = [F(n) for n in range(1,10)]
print(R) #[1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
A = lambda x : x * 2
B = lambda x : x * 3
C = lambda x : x * 4
D = lambda x : x * 5

L = [A,B,C,D]

for f in L:
  print(f(2))

In [ ]:
F = lambda n : [f(n) for f in L]
F(2)

- <스스로>48페이지 예제 해보기

**8. \***args 와 \****kwargs 이용한 람다**
- *args 표현식  
: 함수의 매개변수 * 문자는 임의의 복수의 매개변수가 오는 것으로 정의
- ***kwargs 표현식  
: 함수의 매개변수에 ** 문자는 임의의 key=value 형태의 복수의 매개변수가 오는 것으로 정의

In [ ]:
F = lambda * x : ''.join(x) # 문자열을 붙여주는 함수
F('파이썬', '코딩', '쉽네') # '파이썬코딩쉽네'

In [ ]:
F = lambda **x : [(v,k) for k, v in x.items()] #key, value를 서로 바꿔서 dictionary 생성
D = F(A='파이썬', B='코딩', C='쉽네') #dict 생성 (A, '파이썬') -> ('파이썬', A)
print(D)

D = dict(D)
print(D['파이썬'])



---

In [ ]:
F = lambda **x : sum(x['data']) if 'type' in x and x['type'] == 'sum' else 0

In [ ]:
F(type='sum', data=[1,2,3,4])

In [ ]:
F(data=[1,2,3,4,5])

In [ ]:
F(type='mul', data=[1,2,3,4,5])

**9. 파일 입출력**

- student 파일 읽기 예제

In [ ]:
pwd

In [ ]:
ls

In [ ]:
with open('student.txt', 'r') as fr:
  print(fr.readline())

In [ ]:
with open('student.txt', 'r', encoding='euc-kr') as fr:
  print(fr.readline())

- 이름(첫 번째)를 제외한 **숫자 문자열**들만 추출

In [ ]:
F = lambda x : x.split(';')[1:]
F('태서연;54;72;60;78')

In [ ]:
F = lambda x : x.split(';')
F('태서연;54;72;60;78')

- 입력 문자열을 숫자로만 추출하기(list comprehension)

In [ ]:
F = lambda x : [int(i) for i in x.split(';')[1:]]
F('태서연;54;72;60;78')

- 입력 문자열을 합계

In [ ]:
F = lambda x : sum([int(i) for i in x.split(';')[1:]])
F('태서연;54;72;60;78')

- 이름, 과목별 점수 합계 리턴

In [ ]:
F = lambda x : (x.split(';')[0], sum([int(i) for i in x.split(';')[1:]]))
name, total = F('태서연;54;72;60;78')
print(name, total)

- 입력 문자열을 미리 split 하여서 리스트로 넘긴다고 가정

In [ ]:
F = lambda L : [int(x) for x in L[1:]]
F('태서연;54;72;60;78'.split(';'))

- 이름, 점수 합계를 리턴하는 방법

In [ ]:
F = lambda L : (L[0], sum([int(x) for x in L[1:]]))

name, total = F('태서연;54;72;60;78'.split(';'))

print(name, total)

- 타입별(이름, 합계), (이름, 평균)을 나타내는 함수

In [ ]:
F = lambda L, T : (L[0], sum([int(x) for x in L[1:]])) if T=="sum" else\
                  (L[0], sum([int(x) for x in L[1:]])/len(L[1:])) if T=="avg" else\
                  (L[0], None)
name, value = F('태서연;54;72;60;78'.split(';'), "sum")
print(name, value)

In [ ]:
name, value = F('태서연;54;72;60;78'.split(';'), "avg")
print(name, value)

In [ ]:
name, value = F('태서연;54;72;60;78'.split(';'), "mul")
print(name, value)


2월 14일
---

- 파일을 읽어서 이름;합계;평균을 내는 student_result 파일로 저장

In [ ]:
with open('student.txt', 'r', encoding='euc-kr') as fr, open('student_result.txt', 'w') as fw:
  for line in fr:
    name, total_sum = F(line.split(';'), 'sum')
    name, total_avg = F(line.split(';'), 'avg')

    #문자열 앞에 f를 붙이면 문자열 내부에 {}를 이용하여 변수를 바인딩 할 수 있음.  f-string
    result = f"{name};{total_sum};{total_avg}\n"
    fw.write(result)

- student_result 파일에 저장된 내용 확인

In [ ]:
with open('student_result.txt') as fr:
  print(fr.readline())
  print(fr.readline())
  print(fr.readline())

**10. 데이터를 json파일/텍스트로 변환**

In [ ]:
import json
person_dict = {}

with open('student.txt', 'r', encoding='euc-kr') as fr:
  for line in fr:
    data = line.strip().split(';') #불필요 공백 제거 후 문자로 문자열 분리
    name = data[0]

    # kor, eng, mat, sci = int(data[1]), int(data[2]), int(data[3]), int(data[4])
    kor, eng, mat, sci = (int(x) for x in data[1:])
    person_dict[name] = {'국어':kor, '영어':eng, '수학':mat, '과학':sci}

with open('student_json', 'w') as fw:
  json.dump(person_dict, fw, ensure_ascii=False, indent=4) #딕셔너리를 JSON으로 변환하여 파일로 저장

json_data = json.dumps(person_dict)
print(json_data)

**11. 파이썬 오브젝트를 json 텍스트로 변환**

In [ ]:
import json
person_dict = {}

with open('student.txt', 'r', encoding='euc-kr') as fr:
  for line in fr:
    data = line.strip().split(';') #불필요 공백 제거 후 문자로 문자열 분리
    name = data[0] #이름

    # kor, eng, mat, sci = int(data[1]), int(data[2]), int(data[3]), int(data[4])
    kor, eng, mat, sci = (int(x) for x in data[1:])
    person_dict[name] = {'국어':kor, '영어':eng, '수학':mat, '과학':sci}

json_data = json.dumps(person_dict, ensure_ascii=False, indent=4) #한글 보존, indent 추가
print(json_data)

**12. json 텍스트를 파이썬 오브젝트로 변환**
 - ''.join( list ) : 리스트에서 문자열으로

In [ ]:
with open('student_json', 'r', encoding="UTF-8-sig") as fr:
  json_data = json.load(fr) #파일에 저장된 JSON 텍스트를 파이썬 오브젝트로 변환
print(json_data['태서연'])

with open('student_json', 'r', encoding="UTF-8-sig") as fr:
  json_text = ''.join(fr.readlines())

json_data = json.loads(json_text) #JSON 형태의 텍스트를 파이썬 오브젝트로 변환
print(json_data["태서연"])

**13. pickle 데이터 직렬화 저장 로딩**

텍스트 상태의 데이터가 아닌 파이썬 객체 자체를 파일로 저장하는 것 입니다.





**그러면 무엇이 좋나요?**



만약 우리가 10GB 짜리 raw text 파일을 파싱하여 필요한 부분을 빼내서 사용한다고 해봅시다



raw text 에 있는 내용을 프로그램을 돌릴 때 마다 파싱하여 필요한 부분을 뺀다면 비효율 적이겠죠?



그래서 미리 필요한 부분을 딕셔너리 던, 리스트 던, 튜플 이던 저장을 해놓는 것 입니다..



근데 문자열이 아닌 객체를 파일에 쓸 수 없기에,



pickle 모듈을 활용해 그 객체 자체를 바이너리로 저장하는 것 입니다 !! ㅎㅎ





그럼 pickle 모듈로 저장된 파일을 그냥 불러오기만 하면 되기에 속도도 훨씬 빠르겠지요



출처: https://korbillgates.tistory.com/173 [생물정보학자의 블로그]

In [ ]:
import json
import pickle

with open ('student_json', 'r', encoding='UTF-8-sig') as fr:
  json_data = json.load(fr)

with open ('student_pickle', 'wb') as fw:
  pickle.dump(json_data, fw)

with open ('student_pickle', 'rb') as fr:
  pickle_data = pickle.load(fr)

print(pickle_data['태서연'])

**<스스로>14. 서울시 인구 통계 분석(실습)**
- seoul_people_report (CSV) 파일을 기반으로 구명을 key 값을 가지는 딕셔너리로 변경

- 구별 '외국인 비율', '6 세이상고령자 비율' 을 계산 후 각각 key( 외국인비율 , 고령자비율에 저장